[defaults]
# Указываем путь к инвентарю по умолчанию
inventory = ./inventory/hosts.yml
# Указываем путь к папке с ролями относительно корня проекта
roles_path = ./roles
# Отключаем хост-кеширование для чистоты тестов
host_key_checking = False
